*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}
/*Header*/
header{
    display:flex ;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: 20px;
}
.logo{
    height: 80px;
}
nav{
    width: 50%;
}
ul{
    display: flex;
    justify-content: space-evenly;
}
li{
    list-style: none;

}
/*Fin de Header*/

/*Menu*/
main{
    margin-top: 10px;
}
.plantillas{
    display: flex;
    justify-content: center;
    align-items: center;
}
.principal{
    text-align: center;
    margin: 20px;
    padding: 30px;
    background-color: rgba(209, 215, 215, 0.115);

}
h1{
    text-align: center;
    margin: 20px;
}

.principal>p{
    
}
/*Fin de Menu*/

/*Opciones*/
.eleccion{
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
}
.item{
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: center;
    margin-top: 10px;
    background-color: aliceblue;
    border-color: black;
    margin: 20px;
}
.item>img{
    width: 70%;
    padding: 20px;
}
/*Fin de Opciones*/
/*Footer*/
footer{
    background-image: linear-gradient();
}
/*Fin de Footer*/
/*Formulario*/
.formulario{
   display: flex;
   align-items: center;
}
.form{
    
    

}
/* Fin de Formulario*/